@model Hippo.Models.Application

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Created)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Modified)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Created)</td>
                    <td>@Html.DisplayFor(model => model.Modified)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row btn-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Release" asp-route-id="@Model.Id" class="btn btn-secondary">Configure a Channel</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
