@model Hippo.Models.Application

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Created)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Modified)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Created)</td>
                    <td>@Html.DisplayFor(model => model.Modified)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row btn-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="NewChannel" asp-route-id="@Model.Id" class="btn btn-secondary">Create a New Channel</a>
        <a asp-action="RegisterRevision" asp-route-id="@Model.Id" class="btn btn-secondary">Register a Revision</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>

    <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
        <h3>Channels</h3>
    </div>
    <div class="row">
        @foreach (var item in Model.Channels) {
        <div class="card">
            @if (item.Status().Health == Hippo.Models.HealthLevel.Healthy)
            {
            <span class="card-header badge bg-success">Healthy (on @item.ActiveRevision.RevisionNumber)</span>
            }
            else
            {
            <span class="card-header badge bg-success">Unhealthy (@string.Join("; ", item.Status().Messages))</span>
            }
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            </div>
            <div class="card-body btn-group" role="group" aria-label="actions">
                <a asp-action="EditChannel" asp-route-id="@item.Id" class="card-link btn btn-sml btn-secondary">Edit</a>
                @* <a asp-action="Details" asp-route-id="@item.Id" class="card-link btn btn-sml btn-secondary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="card-link btn btn-sml btn-danger">Delete</a> *@
            </div>
        </div>
        }
    </div>

    <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
        <h3>Revisions</h3>
    </div>
    <table class="table is-bordered is-striped is-narrow is-fullwidth mt-4">
        <thead>
            <tr>
                <th class=""><abbr title="Revision">Revision</abbr></th>
                <th class=""><abbr title="Usage">Usage</abbr></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Revisions) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RevisionNumber)</td>
                <td>TBA</td>
            </tr>
        }
        </tbody>
    </table>

</div>
