@model IEnumerable<Hippo.Models.Application>

<div class="container">
  <div class="row" style="padding-bottom: 20px;">
    <a asp-action="New" class="btn btn-primary btn-sm">Create a new Application</a>
  </div>
  <div class="row">
    @foreach (var item in Model) {
      <div class="card">
        @if (item.Status().Health == Hippo.Models.HealthLevel.Healthy)
        {
        <span class="card-header badge bg-success">Healthy</span>
        }
        else
        {
        <span class="card-header badge bg-success">Unhealthy (@string.Join("; ", item.Status().Messages))</span>
        }
        <div class="card-body">
          <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
        </div>
        <div class="card-body btn-group" role="group" aria-label="actions">
          <a asp-action="Edit" asp-route-id="@item.Id" class="card-link btn btn-sml btn-secondary">Edit</a>
          <a asp-action="Details" asp-route-id="@item.Id" class="card-link btn btn-sml btn-secondary">Details</a>
          <a asp-action="Delete" asp-route-id="@item.Id" class="card-link btn btn-sml btn-danger">Delete</a>
        </div>
      </div>
    }
  </div>
</div>
